#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.founders {
    text-align: center;
}

.founders-photo {
    margin-left: 42%;
    border-radius: 100%;
}

body {
    background-color: gray;
}

#our-products {
    text-align: center;
}